ul {
        list-style: none;
        padding: 0;
}
.menu li {
    display: inline-block;
    padding: 25px;
    color: white;

    
}

.menu li:hover {
    background-color: white;
    color: black;
}

.menu {

    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.5);
    background-color: blue;

    margin-top:20px;
}
